apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-system
spec:
  interval: 5m
  path: "./apps/podinfo"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-demo

